.slider{
    position: relative;
    max-width: 100%;
    padding: 20px 0;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #2ddefd21;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .75);

    &__wrapper{
        display: flex;
        transition: transform .6s ease;
    }

    &__item{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 10px;

        @media (min-width: 576px){
            flex: 0 0 50%;
            max-width: 50%;
        }

        @media (min-width: 992px){
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        @media (min-width: 1200px){
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &__control{
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        color: #fff;
        text-align: center;
        background: rgba(97, 210, 255, .95);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
        transition: .3s;
    }

    &__control:hover,
    &__control:focus{
        color: #fff;
        text-decoration: none;
        outline: 0;
    }

    &__control_left{
        left: 0;
    }

    &__control_right{
        right: 0;
    }

    &__control::before{
        display: inline-block;
        width: 20px;
        height: 20px;
        content: '';
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }

    &__foto{
        width: 100%;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, .75);
        transition: .6s;
    }
}

.slider__control_left::before{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}